body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

section {
    padding: 10px 0 15px;
}

@import "bases/normalize";
@import "bases/variable";
@import "sections/header";
@import "sections/about";
@import "sections/compétance";
@import "sections/project";
@import "sections/contact";
@import "sections/footer";